#inicio, #sobre, #trabalhos, #contato{
    margin: 5rem 0px;
}

.display-3{
    border-bottom: 1px solid #333;
    margin-bottom: 2rem;
}

.col-sm-12 p{
    margin-top: 2rem;
}

.col-md-4 img{
    border-radius: 500px;
}

img{
    max-width: 100%;
}

#carouselExampleIndicators{
    margin-top: 2rem;
}

#contato ul, #contato li{
    list-style: none;
    padding: 10px 0px;
}